.slick-next {
    right: 50px;
}

.slick-next:before {
    color: #06608a85;
    font-size:2.7rem;
}

.slick-prev {
    left: 10px;
    z-index: 1;
}

.slick-prev:before {
    color: #06608a85;
    font-size:2.7rem;
}

.slick-dots {
    background-color: #017173;
    padding-bottom: 1rem;

}